// size mixin
@function size($value) {
    $style: ($value / 16) + rem;	
    @return $style;
}

#celek{
    .lp-container{
        .hdl2,
        .hdl3,
        .hdl4{
            font-weight: 700 !important;
        }
    }
    .hdl2,
    .hdl3,
    .hdl4{
        @include roboto;
        display: block;
        color: $black;
        padding: 0;
    }
    
    .hdl2{
        font-size: 38px;
        line-height: 1.2;
        max-width: 85%;
        margin: 0 auto;
    }
        
    .hdl3{
        font-size: 26px;
        line-height: 32.5px;
    }
    
    .hdl4{
        font-size: 20px;
        line-height: 1.4;
        color: $secondary;
    }
    
    // body text
    p,
    span,
    a,
    li,
    .perex,
    .par,
    .par-sm,
    .listItems{
        display: block;
        font-weight: 400;
        @include roboto;
        color: #535252;
        margin: 0;

        &--link{
            display: inline-block;
            font-weight: 400;
            @include roboto;
            text-decoration: underline;
            color: $media;
            transition: .3s ease-in-out;

            &:hover{
                color: darken($color: $media, $amount: 6%);
            }
        }
    }

    .perex,
    .perex--link{
        font-size: size(16);
        line-height: size(26);
    }

    .par,
    .listItems,
    .par--link,
    .listItems--link{
        font-size: size(14);
        line-height: size(24);
    }

    .par-sm,
    .par-sm--link{
        font-size: size(12);
        line-height: size(21);
    }

    .fontNormal{
        font-weight: 400;
    }

    .fontMedium{
        font-weight: 500;
    }

    .sectionTop{
        max-width: 85%;
        margin: 24px auto 0;
    }

    strong{
        font-weight: 700;
    }
    
    a{
        text-decoration: none;
    }
}

@media only screen and (max-width: 550px){
    .mobile #celek,
    .mobileapp #celek{
        .hdl2,
        .hdl3{
            line-height: 1.3;
        }

        .hdl2{
            font-size: 28px;
        }

        .hld3{
            font-size: 24px;
        }
    }
}