#celek{
    .ppDetail{
        margin-top: 60px;

        &:nth-of-type(odd){
            .ppSplit{
                .ppImage{
                    order: 2;
                }
    
                .ppText{
                    order: 1;
                }
            }
        }

        .ppSplit{
            @include flex;
            justify-content: space-between;

            .ppImage{
                width: calc(50% - 30px);
                order: 1;

                &__wrapper{
                    img{
                        border-radius: 4px;
                        max-height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .ppText{
                box-sizing: border-box;
                width: calc(50% - 30px);
                text-align: left;
                order: 2;
                
                .hdl2{
                    margin: 0;
                }

                .perex{
                    margin-top: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .mobile #celek,
    .mobileapp #celek{
        .ppDetail .ppSplit .ppText,
        .ppDetail .ppSplit .ppImage{
            width: 100%;
        }

        .ppDetail .ppSplit .ppImage{
            &__wrapper{
                justify-content: center;

                img{
                    margin: 0 auto;
                }
            }
        }

        .ppDetail .ppSplit .ppText{
            order: 2;
            padding-left: 0;
            padding-right: 0;
            margin-top: 32px;
        }

        .ppDetail .ppSplit .ppImage{
            order: 1;
        }
    }
}