#celek{
    .ppMontage{
        margin-top: 60px;

        &__wrapper{
            background-color: #F2FDE5;
            border-radius: 4px;
            padding: 40px;
            @include flex;
            justify-content: space-between;
        }

        &__textWrapper{
            text-align: left;
            width: 60%;

            .par,
            .perex{
                margin-top: 16px;
                margin-bottom: 0;
            }

            .btn.btn-ergo{
                margin: 24px auto 0;
            }
        }

        &__imageWrapper{
            figure{
                width: 150px;

                img{
                    max-width: 100%;
                }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 600px){
    .mobile #celek,
    .mobileapp #celek{
        .ppMontage__imageWrapper{
            order: 1;
            width: 100%;

            figure{
                margin: 0 auto;
            }
        }

        .ppMontage__textWrapper{
            order: 2;
            text-align: center;
            width: 100%;
            margin-top: 24px;
        }
    }
}