#celek{
    .ppAddons{
        padding: 40px;
        background-color: #f8f8f8;
        text-align: center;
        display: none;

        .hdl3{
            font-weight: 700;
            color: $black;
            margin-bottom: 32px;
        }
    }
}

#legend #celek .ppAddons{
    display: block;
}