#celek .brandSelector{
    &__wrapper{
        @include flex;
        align-items: stretch;
    }

    &__box{
        width: calc(20% - 10px);
        margin: 5px;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgba($color: $black, $alpha: .15);
        padding: 16px;
        @include flex;
        align-content: center;
        text-align: center;
        cursor: pointer;
        transition: .3s ease-in-out;
        background-color: $white;

        &:hover{
            box-shadow: 0 2px 6px rgba($color: $black, $alpha: .3);
        }

        &--logo{
            max-width: 100%;
            max-height: 32px;
            height: 32px;
        }

        &--name{
            width: 100%;
            margin-top: 8px;
            font-size: 14px;
            color: $black;
            margin-bottom: 0;
        }
    }
}

// brand colors
$alza-brands: (
    'alzaPower': #ADBF00,
    'alzaErgo': #F39200,
    'alzaGuard': #0094E7,
    'alzaEco': #67B545,
    'laProromance': #4D4084,
    'ferrida': #231F20,
    'alzaCafe': #1D1D1B,
    'blackmont': #000000,
    'eternico': #000000
);

// change color for every brand
@each $name, $hex in $alza-brands {
    #celek.#{$name}{
        .ppProperties .ppSplit .ppText__item:before{
            background: $hex;
        }

        .swiper-pagination-bullet-active{
            background: $hex;
        }

        .ppCarousel .lp-container__carousel .swiper-slide:hover .swiper-product-name{
            color: $hex;
        }

        .ppCarousel .lp-container__carousel .swiper-button-prev,
        .ppCarousel .lp-container__carousel .swiper-button-next{
            background: $hex;

            &:hover{
                background: darken($color: $hex, $amount: 6%);
            }
        }
    }
}